main
.env
api/api
worker/build-worker/build-worker
worker/deploy-worker/deploy-worker
worker/event-worker/event-worker
worker/deploy-sync/deploy-sync
worker/post-deploy/post-deploy
worker/secrets-worker/secrets-worker
worker/build-sync/build-sync
dist
